body {
  margin: 0;
  font-family: Arial;
}

.container {
  width: 1280px;
  margin: 0 auto;
  border: 3px solid black;
  box-sizing: border-box;
}

.page-header {
  width: 100%;
  padding: 51px;
  background-color: #445161;
  box-sizing: border-box;
  color: #fff;
}

.page-header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.page-header-wrp {
  float: left;
}

.page-header-title {
  margin: 0 0 30px 0;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.page-header-list {
  margin: 0;
  padding: 0;
}

.page-header-list-item {
  margin: 0;
  padding: 0 0 0 20px;
  list-style-type: none;
  position: relative;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}

.page-header-list-item:before {
  content: "";
  display: block;
  width: 25px;
  height: 19px;
  position: absolute;
  top: 10px;
  left: -10px;
  background-image: url(../img/icon.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.page-header-pic {
  display: block;
  width: 469px;
  min-height: 214px;
  background-color: #fff;
  float: right;
}

.about-product {
  padding: 50px;
}

.about-product-heading {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
}

.about-product-desc {
  width: 648px;
  margin: 0;
  display: inline-block;
}

.about-product-text {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.about-product-text:last-child {
  margin: 0;
}

.about-product-video {
  display: block width:430 px;
  min-hight: 245px;
  background-color: #445161;
  float: right;
}

.about-product-link {
  text-decoration: none;
}

.dignity-heading {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
}

.dignity {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  justify-content: space-around;
}

.dignity-list {
  width: 49%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.dignity-list-item {
  box-sizing: border-box;
  padding: 0 0 0 45px;
  position: relative;
  margin: 0 0 20px 0;
}

.dignity-list-item:last-child {
  margin: 0;
}

.dignity-list-item:before {
  content: "+";
  display: block;
  width: 40px;
  height: 40px;
  background-color: #445162;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 2px;
  left: 0;
}

.dignity-item {
  margin: 0 0 35px 0;
}

.dignity-title {
  width: 100%;
  margin: 0 0 30px 0;
  text-align: center;
  font-family: arial;
  font-weight: 400;
  line-height: 36px;
}

.screenshots {
  padding: 50px 50px 20px 50px;
}

.screenshots-heading {
  display: block;
  text-align: center;
  margin: 0 0 30px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;

}

.screenshots-content {
  width: 570px;
  margin: 0 16px 30px 0;
}

.screenshots-content-left {
  display: flex;
  flex-wrap: wrap;
}

.screenshots-img {
  width: 200px;
  height: 150px;
}

.screenshots-figcaption {
  float: right;
  width: 350px;

}

.screenshots-caption {
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #445161;
  margin: 0 0 10px 0;
}

.screenshots-text {
  width: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  width: 360px;
  margin-right: 10px;
}

.revies {
  box-sizing: border-box;
  width: 100%;
  padding: 50px 50px 26px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f5f5f5;

}

.revies-title {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
}

.revies-content {
  width: 48%;
  margin: 0 0 24px 0;
  display: flex;
}

.revies-content-image {
  width: 75px;
  min-height: 75px;
  margin: 0 31px 0 0;
}

.revies-text {
  width: 483px;
  min-height: 121px;
  padding: 16px;
  margin: 0;
  background-color: #ebebeb;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: justify;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  color: #333333;
}

.revies-text::before {
  content: "";
  display: block;
  border: 15px solid transparent;
  border-right: 20px solid #ebebeb;
  position: absolute;
  top: 32px;
  left: -35px;
}

.revies-content-author {
  margin: 15px 0 0 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #989898;
  display: block;
}

.price {
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
}

.price-title {
  width: 100%;
  margin: 0 0 29px 0;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  display: block;

}

.price-item {
  border: 3px solid #445162;
  box-sizing: border-box;
  width: 300px;
  min-height: 100%;
  padding: 0 0 15px 0;
  margin: 0 45px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #445162;
}

.price-item:last-child {
  margin: 0;
}

.price-item-title {
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;

}

.price-item-cost {
  width: 100%;
  ;
  box-sizing: border-box;
  padding: 18px;
  text-align: center;
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  background: #fff;
  color: #445162;

}

.price-item-list {
  box-sizing: border-box;
  padding: 0 0 0 20px;
  margin: 10px 0 0 0;
  list-style-position: inside;
  background: #445162;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;

}

.price-item-btn {
  box-sizing: border-box;
  border: 1px solid #445162;
  padding: 10px;
  width: 260px;
  min-height: 40px;
  display: block;
  margin: 10px auto 0 auto;
  background-color: #ffffff;
  color: #445162;
  text-transform: uppercase;
  border-radius: 5%;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

.price-item-btn:hover {
  background-color: darkgrey;
  ;
}

.price-item-btn:active {
  background-color: azure;
  box-shadow: dimgrey 3px;
}

.price-item-btn:visited {
  background-color: dimgrey;
  opacity: 25%;
}

.footer-contacts {
  width: 100%;
  padding: 50px;
  background-color: #445162;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-contacts-header {
  width: 100%;
  display: block;
  margin: 0 0 31px 0;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}

.footer-contacts-form {
  width: 500px;
  margin: 0 46px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-contacts-form input[type="text"],
.footer-contacts-form input[type="email"],
.footer-contacts-form textarea {
  width: 100%;
  min-height: 40px;
  padding: 14px 10px;
  box-sizing: border-box;
  margin: 0 0 21px 0;
  border-radius: 10px;
  outline: none;
  background-color: #ffffff;
  text-transform: capitalize;
  border: gray 1px solid;
}

.footer-contacts-form input[placeholder],
.footer-contacts-form textarea[placeholder] {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #445162;
  text-align: left;
  text-overflow: ellipsis;

}

.footer-contacts-form input[type="text"] :hover,
.footer-contacts-form input[type="email"] :hover,
.footer-contacts-form textarea :hover {
  background-color: gray;
  border-color: #ffffff;
  color: #ffffff;
}

.footer-contacts-form input[type="text"] :hover::placeholder,
.footer-contacts-form input[type="email"] :hover::placeholder,
.footer-contacts-form textarea :hover::placeholder {
  color: #ffffff;
}

.footer-contacts-form textarea {
  width: 500px;
  min-height: 170px;
}

.footer-contacts-form input[type="submit"] {
  width: 140px;
  height: 40px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #445162;
  background-color: #fff;
  text-align: center;
  outline: none;
  font-family: Arial;
}

.footer-contacts-form input[type="submit"]:hover {
  background-color: gray;
  color: white;
  border-color: white;
}

.footer-contacts-form input[type="submit"]:active {
  background-color: #ffffff;
  color: #445162;
  border-color: #445162;
}

.footer-icons-list {
  margin: 0 0 32px 0;
  ;
  padding: 0 0 0 27px;
  list-style-type: none;
  display: block;
}

.footer-icons-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 30px 0;
  display: flex;
  position: relative;
}

.footer-icons-link::before {
  content: "";
  display: block;
  width: 24px;
  height: 26px;
  box-sizing: border-box;
  position: absolute;
  top: -2px;
  left: -28px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-icons-skype::before {
  background-image: url(../img/skype_icon.png);
}

.footer-icons-icq::before {
  background-image: url(../img/icq_icon.png);
}

.footer-icons-address::before {
  background-image: url(../img/email_icon.png);
}

.footer-icons-phone::before {
  background-image: url(../img/phone_icon.png);
}

.footer-social {
  width: 100%;
  display: flex;
}

.footer-social-item {
  display: block;
  width: 45px;
  height: 42px;
  background-image: url(../img/sprite.png);
}

.social-tw {
  background-position: 0 0;
}

.social-fb {
  background-position: -49px 0;
  ;
}

.social-inst {
  background-position: -98px 0;
}

.social-google {
  background-position: -147px 0;
}

.social-yt {
  background-position: -196px 0;
}

.footer-copy {
  margin: 0;
  padding: 5px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #445162;
}